<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84708739296-3s6s9n9i5petdbtiutcjnvq358scu8rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84708739296-3s6s9n9i5petdbtiutcjnvq358scu8rs</string>
	<key>API_KEY</key>
	<string>AIzaSyBM3HhxHGgvaS_PbCA9C0lKr9EEBTatlt0</string>
	<key>GCM_SENDER_ID</key>
	<string>84708739296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taskmon.app</string>
	<key>PROJECT_ID</key>
	<string>qoder-vibe-code</string>
	<key>STORAGE_BUCKET</key>
	<string>qoder-vibe-code.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84708739296:ios:b96266d8c6db5de51aa885</string>
	<key>DATABASE_URL</key>
	<string>https://qoder-vibe-code-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>